{% extends "base.html" %}


{% block content %}

    <h1>Lista de atividades</h1>
    
    <form method="get" action="{% url 'task-list' %}">
      <label for="status">Status: </label>
      <select name="status" id="status">
        <option value="">Todos</option>
        <option value="P">Pendente</option>
        <option value="A">Em andamento</option>
        <option value="C">Concluído</option>

      </select>
      <button type="submit">Filtrar</button>

    </form>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>            
            <th scope="col">Descrição</th>
            <th scope="col">Data Criação</th>
            <th scope="col">Data Vencimento</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
            
          </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.pk}}</td>
                    <td>{{ task.title}}</td>
                    <td>{{ task.description}}</td>
                    <td>{{ task.created_at}}</td>
                    <td>{{ task.due_date}}</td>
                    <td>
                      {% if task.status == 'P'%}
                        <span class="badge bg-warning" title="Pendente">P</span>
                      {% elif task.status == 'A'%}
                        <span class="badge bg-info" title="Em andamento">A</span>
                      {% elif task.status == 'C'%}
                        <span class="badge bg-success" title="Concluido">C</span>                              
                      {% endif %}
                    </td>
                    
                    <td>
                      <a href="{% url "task-edit" pk=task.pk %}" class=" btn btn-primary btn-sm">Editar</a>
                      <a href="{% url "task-delete" pk=task.pk %}"  class=" btn btn-danger btn-sm">Excluir</a>

                    </td>
                </tr>

            {% endfor %}
        </tbody>
      </table>

{% endblock content %}
